<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      BG FOR MEN | Compras com praticidade!
    </p>

    <h1>Missão e valores</h1>

    <p class="lead"> Somos uma empresa inovadora, divertida e, acima de tudo, apaixonada pelas pessoas.
      Desde o ano de 2018, atuamos com ética e foco para que você e todos os nossos clientes estejam sempre satisfeitos.
      
      A responsabilidade social e a transparência estão sempre presentes na nossa forma de atuar e são compartilhadas a todo o momento com quem nos relacionamos - funcionários, fornecedores, clientes e a comunidade. Realizamos pesquisas de satisfação constantes com estes públicos, a fim de seguirmos superando suas expectativas e construindo um legado positivo.</p>

    <p class="lead">Copyright 2019 (<a href="https://instagram.com/bgformen">https://instagram.com/bgformen</a>)</p>
    <p class="lead">Desde 2018 lhe vestindo bem!</p>

  </section>